# EdgeOne Pages runtime env example
# 至少需要设置 u，其他按需添加

u=00000000-0000-4000-8000-000000000000

ae=yes
ev=yes
et=no
ex=no
qj=no
rm=yes

# 可选自定义路径
# d=/mypath

# 可选地区
# wk=HK

# 可选 ProxyIP
# p=1.1.1.1:443

# 可选 SOCKS5
# s=user:pass@127.0.0.1:1080

# 可选优选列表来源
# yxURL=https://example.com/preferred.txt

# 可选手工 fallback
# fallback=ProxyIP.HK.CMLiussss.net:443

# DoH
# doh=https://dns.google/dns-query

# ECH
# ech=yes
# echDomain=cloudflare-ech.com
